<!-- <cdk-virtual-scroll-viewport itemSize="41">
  <section *cdkVirtualFor="let item of dataSource"> -->
<section class="card" id="globalContainer">
  <section class="leftContainer">
    <section>
      <section class="containerCard">
        <button class="btn" id="lightbulbBtn">
          <i class="bi bi-lightbulb text-white"></i>
        </button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-journal-text bg-dark text-white"
          viewBox="0 0 16 16"
        >
          <path
            d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
          />
          <path
            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
          />
          <path
            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
          />
        </svg>
        <section class="ideaSummary">
          <img
            src="../assets/img/imgCard.png"
            class="img-fluid"
            id="noImageUploaded"
            alt="card"
          />
          <dt class="col-sm-2">
            <p class="ideaSummaryText"><strong> Idea Summary </strong></p>
          </dt>
        </section>
      </section>
    </section>
    <section class="rightContainerMobile">
      <section class="qualification">
        <p>
          <strong class="phrases anonymusUser"> Anonymous User</strong>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </p>
        <p class="reviews">()</p>
      </section>
      <section class="postDate">
        <i class="bi bi-calendar2-week"></i>
        <p class="dateMobile">June 27, 2019 12:00 PM</p>
      </section>
      <p class="ideaSummaryTextMobile"><strong> Idea Summary </strong></p>
      <section class="linesOfTextMobile">
        <dl class="row">
          <dt class="col-sm-1 blackPhrases">Review Score</dt>
          <button
            type="button"
            id="btnOrange"
            class="col-sm-1 btn text-white"
            style="
              border-radius: 50px;
              width: 30px;
              height: 20px;
              font-size: 10px;
            "
          >
            <strong class="line">---</strong>
          </button>
          <dt class="col-sm-1 blackPhrases">
            Workflow
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
          </dt>
          <dt class="col-sm-1 phrases">Idea Review/PLM II</dt>
          <dt class="col-sm-1 blackPhrases">Assignees</dt>
          <dt class="col-sm-1 phrases">Assignees</dt>
        </dl>
      </section>
    </section>
    <section class="linesOfText">
      <dl class="row">
        <dt class="col-sm-1 blackPhrases">Assignees</dt>
        <dt class="col-sm-1 blackPhrases">
          Workflow
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
            />
          </svg>
        </dt>
        <dt class="col-sm-1">Review Score</dt>
      </dl>
      <dl class="row" id="linesOfTextTwo">
        <dt class="col-sm-1 phrases">Assignees</dt>
        <dt class="col-sm-1 phrases">Idea Review/PLM II</dt>
        <button
          type="button"
          id="btnOrange"
          class="col-sm-1 btn text-white"
          style="
            border-radius: 50px;
            width: 30px;
            height: 20px;
            font-size: 10px;
          "
        >
          <strong class="line">---</strong>
        </button>
      </dl>
    </section>
  </section>
  <section class="rightContainer">
    <section class="qualification">
      <p class="postedText">Posted</p>
      <p>
        <strong class="phrases"> Anonymous User</strong>
        <i class="bi bi-star"></i> <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
      </p>
      <p class="reviews">()</p>
    </section>
    <section class="postDate">
      <i class="bi bi-calendar2-week"></i>
      <p>June 27, 2019 12:00 PM</p>
    </section>
  </section>
</section>
<!-- </section>
</cdk-virtual-scroll-viewport> -->
